.articles {
  max-width: 64rem;
  margin: 0 auto var(--section-gap);
}

.articles__title {
  color: var(--text-title);
  font-family: var(--text-2-family);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.05rem;
  margin-bottom: 2.4rem;
}

.articles__latest {
  display: grid;
  gap: 2.4rem;
  margin-bottom: 2.4rem;
}

.articles__article-title {
  color: var(--text-title);
  font-family: var(--text-5-family);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.05rem;
  margin-bottom: 0.8rem;
}

.articles__article-date {
  color: var(--text-body);
  font-family: var(--text-8-family);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: -0.02rem;
  font-style: italic;
}

.articles__text {
  text-align: center;
}

.articles__link {
  color: var(--text-title);
  font-family: var(--text-5-family);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.05rem;
  text-decoration-color: var(--underline-color);
}
